*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    
}

.flex{
    display: flex;
}

.space{
    justify-content: space-between;
}

.quadrado-login {
    border-radius: 25px;
    overflow: hidden;
    height: 600px;
    width: 900px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.25);
}

.centro{
    justify-content: center ;
    align-items: center;
}

.quadrado-azul{
    background: #bfc2c7;;
    height: 100%;
    width: 30%;
    border-radius: 20px 0px 0px 20px;
}

.quadrado{
     background: #b1d6e5;;
    height: 100%;
    width: 70%;
    border-radius: 0px 20px 20px 0px;
}

.coluna{
    flex-direction: column;
}

.botao{
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: 0.2s ease;
}

.acessar{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.botaoo{
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: 0.2s ease;
}

.letra{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.cor{
    color: white;
}

.linha-input {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre ícone e input */
    margin-bottom: 15px;
}

.linha-input i {
    font-size: 20px;
    color: #444;
}

.linha-input input {
    width: 300px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
    outline: none;
}

.espaco{
    padding-left: 5%;
}

.fundo{
    background-image: url('https://lh3.googleusercontent.com/rd-gg-dl/ABS2GSmGoje5avJzItM6q12vd9XjGP1TRnHJyUcxlkdJ3EIGbPZlWYoL_7-B5jbSCjz6iND7rncoln1MpoYWi1yoWo0s0ZtqqGrNhxYHZaXt_AptYUgeIB0s2uf45lUBCe8Ar3VI5sSOLUrzioMD0a9UcIDPqIBk3vXmUpoCMfoqzfqW7ksC76Ng0TEBtwQ1yoR4qoeN7H0uKXz-1NWqtqk_kd6Hd17_3VnU4v_gdp9qfY9crGzm-Zp0Nt9zA_qwZa4Ua64Ww5fwdn2unAbRuZa-IeSow6Y_O_uT7Luc_InZzCfznuchPiMFqc9di4YAplPzgy38Kg01NkMSvfvaA82B08oxIEKuf6ZVA-2pDLCT37Lvmt7QYuacWrSg3_yOS42aTT-4uNOJ_hJvYz0q6RApvEhB_Ww3gzSAdU72MnnyIJ6T1wFscMLLXgNsIi0YoFCc3QcZ6HZmGjTuMGQCaqKsgZyHMYeaUyqrFpPy2fvj6UWbPG_Y8YCNDGRwLenRKB4GzS7mtoot4VPEbRLxiljDCoggOu2R0Qh7I_07htM5EmChtjy4EpA0LT_sDZnq_vEwrSJ4sMlR-Lrtb9I7tSDqAEgvVOpHw4IaACSn7GQxirczEaTKIc7cOUC-6cgvJWKTTEuibx8ELjP-z66trQqWHy0lQZ7sh0RaZkCPQk1-4qAuKuWPvq7gwD1V8ZOMJkakYubdP2mAUhhzf6nGatsto9P7KmZILNxdnc8EvJLfvi9MEaLkNgl1WimEvYMq81h7lQ3b6VyOZIWHT-4iS6-VqCOCbC9gdDBQ7WRuHkzRsU29h6hLYy-uxidB9WZxBfsZMbp3fp2QkNiv-ZCFOYYMywm6KNdgRKj4Ie8cg2uyxNP0wlXO4VAM20ZWFADIDW-v8TqyhusI5FP8UZUlNw4OhlSvAL37epbd57IqQ5XLhVQX258V3H74_2MYsJWNyS1YF5hHgw3_6qWnnhD3ocT_p0qbtTW2eq2snEkBYBm7CFlD-hxogIdc4cUK7uNQUEch49IeoBESaYbnWNdcjE1O1RJrbyYwh61SHRb7vmGtHSOakywST9JI0e_7vte6HIKNMybc3cuoHyw7fkD4iuVhAj6joD0U37NfhBqvQ5-SPXz7TRdFzFNg1WktAfUj8pzMQcz4lkSLBa38a3CN4Yv7w4AR1KhAVEtP5aU=s1024-rj');
    background-size: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    
}