*{
    margin: 0px;
    padding: 0px;
}

.quadrado-verde{
    background-color: green; /*Cor de fundo*/
    color: white; /*Cor do texto*/
    height: 150px; /*A aultura do elemento*/
    width: 150px; /*A largura doi elemento*/
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.quadrado-roxo{
    background-color: purple; /*Cor de fundo*/
    color: white; /*Cor do texto*/
    height: 150px; /*A aultura do elemento*/
    width: 150px; /*A largura doi elemento*/
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}