*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
}


.flex{
    display: flex;
}

.linha{
    height: 33.3333%;
}

.dividir{
    flex: column;
    justify-content: center;
    align-items: center;
}

.linha-1{
    display: flex;
    height: 100vh;
    width: 30%;
}

.quadrado-azul{
    background-color: rgb(115, 203, 224);
    height: 100%;
    width: 100%;
}

.linha-2{
    display: flex;
    height: 100vh;
    width: 70%;
}
