*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    
}

.flex{
    display: flex;
}

.space{
    justify-content: space-between;
}

.quadrado-login {
    border-radius: 25px;
    overflow: hidden;
    height: 600px;
    width: 900px;
    box-shadow: 0px 5px 20px rgba(255, 254, 254, 0.932);
}

.centro{
    justify-content: center ;
    align-items: center;
}

.quadrado-azul{
    background: #d8dbe0;;
    height: 100%;
    width: 35%;
    border-radius: 20px 0px 0px 20px;
}

.quadrado{
     background: #9dc7d8;;
    height: 100%;
    width: 70%;
    border-radius: 0px 20px 20px 0px;
}

.coluna{
    flex-direction: column;
}

.botao{
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(163, 160, 160, 0.3);
    transition: 0.2s ease;
}

.acessar{
    height: 45px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.botaoo{
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(163, 160, 160, 0.3);
    transition: 0.2s ease;
}

.letra{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
}

.cor{
    color: white;
}

.linha-input {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre ícone e input */
    margin-bottom: 15px;
}

.linha-input i {
    font-size: 20px;
    color: #444;
}

.linha-input input {
    width: 300px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
    outline: none;
}

.espaco{
    padding-left: 5%;
}

.fundo{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231226/pngtree-abstract-blue-watercolor-background-texture-vector-illustration-of-water-paint-on-image_13891656.png');
    background-size: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    
}


 /* Adicione ou modifique estas regras no seu arquivo cadastro.css */
 .input-group {
    position: relative;
    margin-bottom: 25px; /* Espaço entre os grupos de input */
}

.input-group label {
    position: absolute;
    top: -20px; /* Posição acima do input */
    left: 0;
    color: #333; /* Cor do texto da label */
    font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 12px;
    color: #333; /* Cor da label quando focado ou preenchido */
}
