*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    
}

.flex{
    display: flex;
}

.space{
    justify-content: space-between;
}

.quadrado-login{
    background-color: #9dc7d8;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(241, 241, 241) ;
}

.centro{
    justify-content: center ;
    align-items: center;
}

.quadrado-azul{
    background: #d8dbe0;;
    height: 100%;
    width: 30%;
    border-radius: 20px 0px 0px 20px;
}

.quadrado{
    background: #9dc7d8;
   height: 100%;
   width: 70%;
   border-radius: 0px 20px 20px 0px;
}

.coluna{
    flex-direction: column;
}

.botao{
    height: 40px;
    width: 150px;
    background-color:  rgb(74, 184, 218);
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
}

.acessar{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(255, 254, 254);
}

.botaoo{
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgb(218, 212, 212);
    transition: 0.2s ease;
}

.fundo{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231226/pngtree-abstract-blue-watercolor-background-texture-vector-illustration-of-water-paint-on-image_13891656.png');
    background-size: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.letra{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
}

.cor{
    color: white;
}